/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1, h2, h3{
    text-align: center;
}

h1{
    margin-bottom: 25px;

}

h2{
    margin-bottom: 15px;
}

h3{
    margin-top: 15px;
    text-transform: uppercase;
}

input, button, select{
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    background: #fff;
    margin: 0 10px;
}

button{
    cursor: pointer;
}

select{
    width: 100px;
}






.contenitor{
    width: 1000px;
    margin: 20px auto;
}

.game {
    background-color: rgb(65, 165, 247);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.game p{
    text-align: center;
    margin-top: 20px;
}

.input{
    display: flex;
    justify-content: center;
}